<div class="col-md-12 table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Table</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ouvrier of ouvriers">
        <td>{{ouvrier.ouvrierNom}}</td>
        <td>{{ouvrier.ouvrierPrenom}}</td>
        <td>{{ouvrier.tableUsine.tableNumero}}</td>
        <td><button class="btn btn-danger" (click)="deleteOuvrier(ouvrier)">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pt-4 col-md-12">
  <p>
    <button class="btn btn-primary" type="button" (click)="isEditCollapsed = !isEditCollapsed">
      Ajouter un ouvrier
    </button>
  </p>
  <div *ngIf="isEditCollapsed">
    <div class="card card-body">
      <form>
        <div class="form-group">
          <label for="lastName">Nom:</label>
          <input [(ngModel)]="newOuvrier.ouvrierNom" placeholder="Last name" name="lastName" class="form-control" id="lastName">
        </div>

        <div class="form-group">
          <label for="firstName">Prénom:</label>
          <input [(ngModel)]="newOuvrier.ouvrierPrenom" placeholder="First Name" name="firstName" class="form-control"
            id="firstName">
        </div>

        <div class="form-group">
          <label for="table">Table:</label>
          <select [(ngModel)]="newOuvrier.tableUsine" name="table" class="form-control" id="table">
            <option disabled [value]="undefined">Choisissez une table</option>
            <option *ngFor="let table of tables" [ngValue]="table">{{table.tableNumero}}</option>
          </select>
        </div>

        <button class="btn btn-success" (click)="createOuvrier()">Créer</button>
      </form>
    </div>
  </div>
</div>
