<div class="container-fluid p-2">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/commande">MTT</a>
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/commande">Commandes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/article">Articles</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/ouvrier">Ouvriers</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/table">Tables</a>
        </li>
      </ul>
      <span>
        <button (click)="logout()"><fa name="sign-out"></fa> Déconnexion</button>
      </span>
    </div>
  </nav>

  <ng-http-loader></ng-http-loader>

  <br />
  <router-outlet></router-outlet>

</div>
