<div class="col-md-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero d'article</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>{{article.articleNumero}}</td>
          <td><button class="btn btn-danger" (click)="deleteArticle(article)">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pt-4">
    <p>
      <button class="btn btn-primary" type="button" (click)="isEditCollapsed = !isEditCollapsed">
        Ajouter un article
      </button>
    </p>
    <div *ngIf="isEditCollapsed">
      <div class="card card-body">
        <form>
          <div class="form-group">
            <label for="articleNumero">Numero d'article:</label>
            <input [(ngModel)]="newArticle.articleNumero" placeholder="Numero d'article" name="articleNumero" class="form-control" id="articleNumero">
          </div>
          <button class="btn btn-success" (click)="createArticle()">Créer</button>
        </form>
      </div>
    </div>
  </div>
  