<div class="col-md-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero d'article</th>
          <th>Nombre d'heures</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles | sort : 'articleNumero'">
          <td>{{article.articleNumero}}</td>
          <td>{{article.nbHeures}}</td>
          <td>
              <span>
                  <button class="btn btn-danger btn-sm" (click)="deleteArticle(article)"><fa name="trash"></fa></button>
              </span>
              <span class="ml-2">
                  <button class="btn btn-sm btn-primary" (click)="toggleUpdate(article)"><fa name="pencil"></fa></button>
              </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pt-4 col-md-12">
    <p>
      <button *ngIf="!updateMode" class="btn btn-primary" type="button" (click)="isEditCollapsed = !isEditCollapsed">
        Ajouter un article
      </button>
    </p>
    <div *ngIf="isEditCollapsed">
      <div class="card card-body">
        <form [formGroup]="createForm" (ngSubmit)="createArticle()">
          <div class="form-group">
            <label for="articleNumero">Numero d'article:</label>
            <input [(ngModel)]="newArticle.articleNumero" placeholder="Numero d'article" name="articleNumero" class="form-control" id="articleNumero"
            formControlName="articleNumero" [ngClass]="{ 'is-invalid': submitted && f.articleNumero.errors }">
            <div *ngIf="submitted && f.articleNumero.errors" class="invalid-feedback">
              <div *ngIf="f.articleNumero.errors.required">Le numéro de l'article est requis</div>
            </div> 
          </div>
          <div class="form-group">
            <label for="nbHeures">Nombre d'heures:</label>
            <input [(ngModel)]="newArticle.nbHeures" placeholder="Nombre d'heures" name="nbHeures" class="form-control" id="nbHeures"
            formControlName="nbHeures" [ngClass]="{ 'is-invalid': submitted && f.nbHeures.errors }">
            <div *ngIf="submitted && f.nbHeures.errors" class="invalid-feedback">
              <div *ngIf="f.nbHeures.errors.required">Le nombre d'heures est requis</div>
            </div> 
          </div>
          <button class="btn btn-success">
              <span *ngIf="!updateMode">Créer</span>
              <span *ngIf="updateMode">Modifier</span>
          </button>
          <span class="ml-2" *ngIf="updateMode" (click)="cancelUpdate()">
              <button class="btn btn-danger">
                  <fa name="times"></fa> Annuler
              </button>
          </span>
        </form>
      </div>
    </div>
  </div>
  