<div class="col-md-12 table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero de table</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tables">
          <td>{{table.tableNumero}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteTable(table)"><fa name="trash"></fa></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pt-4 col-md-12">
    <p>
      <button class="btn btn-primary" type="button" (click)="isEditCollapsed = !isEditCollapsed">
        Ajouter une table
      </button>
    </p>
    <div *ngIf="isEditCollapsed">
      <div class="card card-body">
        <form [formGroup]="createForm" (ngSubmit)="createTable()">
          <div class="form-group">
            <label for="tableNumero">Numero de table:</label>
            <input [(ngModel)]="newTable.tableNumero" placeholder="Numéro de table" formControlName="tableNumero" [ngClass]="{ 'is-invalid': submitted && f.tableNumero.errors }" class="form-control" id="tableNumero">
            <div *ngIf="submitted && f.tableNumero.errors" class="invalid-feedback">
              <div *ngIf="f.tableNumero.errors.required">Le numéro de table est requis</div>
            </div>
          </div>
          <button class="btn btn-success">Créer</button>
        </form>
      </div>
    </div>
  </div>
  