<div class="col-md-12 table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero de table</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tables">
          <td>{{table.tableNumero}}</td>
          <td>
            <span>
                <button class="btn btn-sm btn-danger" (click)="deleteTable(table)"><fa name="trash"></fa></button>
            </span>
            <span class="ml-2">
                <button class="btn btn-sm btn-primary" (click)="toggleUpdate(table)"><fa name="pencil"></fa></button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pt-4 col-md-12">
    <p>
      <button *ngIf="!updateMode" class="btn btn-primary" type="button" (click)="isEditCollapsed = !isEditCollapsed">
        Ajouter une table
      </button>
    </p>
    <div *ngIf="isEditCollapsed">
      <div class="card card-body">
        <form [formGroup]="createForm" (ngSubmit)="createTable()">
          <div class="form-group">
            <label for="tableNumero">Numero de table:</label>
            <input [(ngModel)]="newTable.tableNumero" placeholder="Numéro de table" formControlName="tableNumero" [ngClass]="{ 'is-invalid': submitted && f.tableNumero.errors }" class="form-control" id="tableNumero">
            <div *ngIf="submitted && f.tableNumero.errors" class="invalid-feedback">
              <div *ngIf="f.tableNumero.errors.required">Le numéro de table est requis</div>
            </div>
          </div>
          <button class="btn btn-success">
            <span *ngIf="!updateMode">Créer</span>
            <span *ngIf="updateMode">Modifier</span>
          </button>
          <span class="ml-2" *ngIf="updateMode" (click)="cancelUpdate()">
              <button class="btn btn-danger">
                  <fa name="times"></fa> Annuler
              </button>
          </span>
        </form>
      </div>
    </div>
  </div>
  