<div class="col-md-12">
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><fa name="search"></fa></span>
            </div>
            <input type="text" class="form-control" name="searchString" placeholder="Rechercher..." [(ngModel)]="searchString">
            <button type="button" (click)="searchString=undefined" class="btn btn-secondary btn-sm ml-3"><fa name="minus"></fa></button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Statut</span>
            </div>
            <select [(ngModel)]="searchStatut" name="searchStatut" class="form-control" id="searchStatut">
                <option disabled [value]="undefined">Rechercher par statut</option>
                <option *ngFor="let statut of statuts" [value]="statut.id">{{statut.statutNom}}</option>
            </select>
            <button type="button" (click)="searchStatut=undefined" class="btn btn-secondary btn-sm ml-3"><fa name="minus"></fa></button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Semaine</span>
            </div>
            <select [(ngModel)]="searchSemaine" name="searchSemaine" class="form-control" id="searchSemaine">
                <option disabled [value]="undefined">Rechercher par semaine</option>
                <option *ngFor="let semaine of semaines" [value]="semaine.id">{{semaine.semaineNom}}</option>
            </select>
            <button type="button" (click)="searchSemaine=undefined" class="btn btn-secondary btn-sm ml-3"><fa name="minus"></fa></button>
        </div>
    </form>
</div>

<div class="col-md-12 table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numéro de commande</th>
          <th>Article</th>
          <th>Ouvrier</th>
          <th>Semaine</th>
          <th>Statut</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes | filter : searchStatut : searchSemaine : searchString">
          <td>{{commande.commandeNumero}}</td>
          <td>{{commande.article.articleNumero}}</td>
          <td>{{commande.ouvrier.ouvrierNom}} {{commande.ouvrier.ouvrierPrenom}}</td>
          <td>
            <span *ngIf="commande.semaine">
                {{commande.semaine.semaineNom}}
            </span>
          </td>
          <td>
            <select [(ngModel)]="commande.statut.id" (change)="onStatutChange($event, commande)" name="statutCommande" class="form-control select-width-auto" id="statutCommande">
              <option *ngFor="let statut of statuts" [value]="statut.id">{{statut.statutNom}}</option>
            </select>
          </td>
          <!-- <td>{{commande.statut.statutNom}}</td> -->
          <td>
              <span>
                  <button class="btn btn-danger btn-sm" (click)="deleteCommande(commande)"><fa name="trash"></fa></button>              
              </span>
              <span class="ml-2">
                  <button class="btn btn-sm btn-primary" (click)="toggleUpdate(commande)"><fa name="pencil"></fa></button>
              </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="pt-4 col-md-12">
    <p>
      <button *ngIf="!updateMode" class="btn btn-primary" type="button" (click)="isEditCollapsed = !isEditCollapsed">
        Ajouter une commande
      </button>
    </p>
    <div *ngIf="isEditCollapsed">
      <div class="card card-body">
        <form [formGroup]="createForm" (ngSubmit)="createCommande()">
          <div class="form-group">
            <label for="commandNumber">Numéro de commande:</label>
            <input [(ngModel)]="newCommande.commandeNumero" placeholder="Numero de commande" name="commandNumber" class="form-control" id="commandNumber"
            formControlName="commandNumber" [ngClass]="{ 'is-invalid': submitted && f.commandNumber.errors }">
            <div *ngIf="submitted && f.commandNumber.errors" class="invalid-feedback">
              <div *ngIf="f.commandNumber.errors.required">Le numéro de commande est requis</div>
            </div>            
          </div>
  
          <div class="form-group">
            <label for="article">Article:</label>
            <select [(ngModel)]="newCommande.article.id" name="article" class="form-control" id="article"
            formControlName="article" [ngClass]="{ 'is-invalid': submitted && f.article.errors }">
              <option disabled [value]="undefined">Choisissez un article</option>
              <option *ngFor="let article of articles | sort : 'articleNumero'" [ngValue]="article.id">{{article.articleNumero}}</option>
            </select>
            <div *ngIf="submitted && f.article.errors" class="invalid-feedback">
              <div *ngIf="f.article.errors.required">L'article est requis</div>
            </div>            
          </div>

          <div class="form-group">
              <label for="ouvrier">Ouvrier:</label>
              <select [(ngModel)]="newCommande.ouvrier.id" name="ouvrier" class="form-control" id="ouvrier"
              formControlName="ouvrier" [ngClass]="{ 'is-invalid': submitted && f.ouvrier.errors }">
                <option disabled [value]="undefined">Choisissez un ouvrier</option>
                <option *ngFor="let ouvrier of ouvriers" [ngValue]="ouvrier.id">{{ouvrier.ouvrierNom}} {{ouvrier.ouvrierPrenom}}</option>
              </select>
              <div *ngIf="submitted && f.ouvrier.errors" class="invalid-feedback">
                <div *ngIf="f.ouvrier.errors.required">L'ouvrier est requis</div>
              </div>           
          </div>   

          <div class="form-group">
            <label for="semaine">Semaine:</label>
            <select [(ngModel)]="newCommande.semaine.id" name="semaine" class="form-control" id="semaine"
            formControlName="semaine" [ngClass]="{ 'is-invalid': submitted && f.semaine.errors }">
              <option disabled [value]="undefined">Choisissez la semaine</option>
              <option *ngFor="let semaine of semaines" [ngValue]="semaine.id">{{semaine.semaineNom}}</option>
            </select>
            <div *ngIf="submitted && f.semaine.errors" class="invalid-feedback">
              <div *ngIf="f.semaine.errors.required">La semaine est requise</div>
            </div>           
        </div>   

          <div class="form-group">
              <label for="statut">Statut:</label>
              <select [(ngModel)]="newCommande.statut.id" name="statut" class="form-control" id="statut"
              formControlName="statut" [ngClass]="{ 'is-invalid': submitted && f.statut.errors }">
                <option *ngFor="let statut of statuts" [ngValue]="statut.id">{{statut.statutNom}}</option>
              </select>
              <div *ngIf="submitted && f.statut.errors" class="invalid-feedback">
                <div *ngIf="f.statut.errors.required">Le statut de la commande est requis</div>
              </div>              
          </div>   
          <button class="btn btn-success">
              <span *ngIf="!updateMode">Créer</span>
              <span *ngIf="updateMode">Modifier</span>
          </button>
          <span class="ml-2" *ngIf="updateMode" (click)="cancelUpdate()">
              <button class="btn btn-danger">
                  <fa name="times"></fa> Annuler
              </button>
          </span>
        </form>
      </div>
    </div>
  </div>
  